@model IEnumerable<TestsApp.Models.UserProfile>

@{
    ViewBag.Title = "ManageUsers";
}

<h2>ManageUsers</h2>
<p>
    @Html.ActionLink("Crear nuevo usuario", "Register")
</p>
<table class="table table-striped data-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.UserId }) |
            @Html.ActionLink("Ver", "Details", new { id = item.UserId }) |
                @Ajax.ActionLink("Eliminar", "Delete", new { id = item.UserId }, new AjaxOptions { UpdateTargetId="modal-delete-user", OnSuccess="showModalDeleteUser"})
            </td>
        </tr>
    }

</table>

<div id="modal-delete-user" class="modal hide fade" tabindex="-1" data-width="450" aria-hidden="true">
    @Html.Partial("DeleteUserPartial", new TestsApp.Models.UserProfile())
</div>

<script type="text/javascript">
    function showModalDeleteUser() {
        $("#modal-delete-user").modal('show');
    }

    function hideModalDeleteUser() {
        $("#modal-delete-user").modal('hide');
    }

</script>