@model TestsApp.Models.Examen

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Examen</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Titulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Titulo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaCreacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaCreacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaEjecucion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaEjecucion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TiempoMaximo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TiempoMaximo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Estado.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estado.Nombre)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
