@model TestsApp.Models.Pregunta

@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.IdExamen)
<div class="row-fluid">
    <div class="span12">
        Pregunta @Model.Orden de @Model.Examen.Pregunta.Count
        <p class="lead">
            @Html.DisplayFor(m => m.Texto)
        </p>
        <div class="row-fluid row-margin-bottom-regular">
            <div class="span8">
                <div id="RespuestasContainer">
                    <ul>
                        @Html.EditorFor(m => m.Respuesta)
                    </ul>
                </div>
            </div>
        </div>
        <div class="row-fluid center">
            <div class="btn-group">
                @if (Model.Orden > 1)
                {
                    <button type="button" id="btnPreviousQuestion" class="btn btn-small" onclick="PreviousQuestion()">Anterior</button>
                }
           
                
                @if (Model.Orden == Model.Examen.Pregunta.Count)
                {
                    <button type="button" id="btnFinish" class="btn btn-small green" onclick="FinishTest()">Terminar</button>
                }
           
                @if (Model.Orden < Model.Examen.Pregunta.Count)
                {
                    <button type="button" id="btnNextQuestion" class="btn btn-small medium-blue pull-right" onclick="NextQuestion()">Siguiente</button>
                }
            </div>
        </div>
    </div>
</div>

