@model TestsApp.Models.Pregunta
@{bool disableSave = false;}
@if (Model.Respuesta.Count() == 0)
{ 
    <div class="row-fluid">
        <div class="span12">No has agregado ninguna respuesta</div>
    </div>  
}
else
{
    string nombreControl = new TestsApp.Models.TestsAppBDEntities().TipoPregunta.First(r => r.Id == Model.IdTipoPregunta).NombreControl;
    disableSave = (nombreControl.Equals("Textarea")) && Model.Respuesta.Count() == 1;
    int i = 1;
    <ul>
        @foreach (var item in Model.Respuesta)
        {

            switch (nombreControl)
            {
                case "Checkbox":
            <li class="respuesta">
                <input type="checkbox" data-id="@Model.Orden" onchange="ChkRespuesta_Click(@(i - 1),this)" @(item.EsCorrecta == 1 ? "checked" : string.Empty) />@item.Texto <a data-id="@Model.Orden" class="remove" onclick="eliminarRespuesta(@(i - 1), this)" title="Eliminar"><i class="icon-remove"></i></a></li>
                    break;
                case "Textarea":
            <li>
                <textarea disabled>@item.Texto</textarea></li>
                    break;
                case "Asesoria":
            <li>
                <i class="icon-circle"></i>@item.Texto</li>
                    break;

            }
            i++;
        }
    </ul>
}

@if (Model.IdTipoPregunta != 9)
{ 
    <div class="row-fluid">
        <div class="input-append">
            <input type="text" id="@("txtRespuesta" + Model.Orden)" placeholder="Texto de la Respuesta" class="span6" @(disableSave ? "disabled" : string.Empty) />
            <button type="button" id="GuardarPregunta" class="btn" onclick="GuardarRespuesta_Click(@Model.Orden)" @(disableSave ? "disabled" : string.Empty)>Guardar</button>
        </div>
    </div>
}

