@model IEnumerable<TestsApp.Models.Documento>

@{
    ViewBag.Title = "Index";
}

<h2>Documentos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table table-striped data-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            @if (User.IsInRole("Administrador"))
            {                 
                <th>
                    Líneas
                </th>
            }
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        var lineas = new TestsApp.Models.TestsAppBDEntities().Documento.First(d=>d.Id == item.Id).Linea.ToList();
        string s = string.Empty;
        foreach (TestsApp.Models.Linea l in lineas)
        {
            s += l.Nombre + ", ";
        }
        if (s.Length > 0)
        {
            s = s.Substring(0, s.Length - 2);
        }
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            @if (User.IsInRole("Administrador"))
            {
                
                <td>
                    @s
                </td>
            }
            <td>
                @Html.ActionLink("Descargar", "Download", new { id = item.Id })
            </td>
        </tr>
    }

</table>
