@model TestsApp.Models.Pregunta
@{bool disableSave = false;}
@if (Model.Respuesta.Count() == 0)
{ 
    <div class="span12">No has agregado ninguna respuesta</div>      
}
else
{
    string nombreControl = new TestsApp.Models.TestsAppBDEntities().TipoPregunta.First(r => r.Id == Model.IdTipoPregunta).NombreControl;
    disableSave = (nombreControl.Equals("Textarea")) && Model.Respuesta.Count() == 1;
    int i = 1;
    <ul>
        @foreach (var item in Model.Respuesta)
        {
            
            switch (nombreControl)
            {
                case "Checkbox":
            <li>
                <input type="checkbox" data-id="@Model.Id" onchange="ChkRespuesta_Click(@(i - 1),this)" @(item.EsCorrecta == 1 ? "checked" : string.Empty) />@item.Texto</li>
                    break;
                case "Textarea":
            <li>
                <textarea disabled>@item.Texto</textarea></li>
                    break;
            }
            i++;
        }
    </ul>
}

<div class="row-fluid">
    <div class="input-append">
        <input type="text" id="@("txtRespuesta" + Model.Id)" placeholder="Texto de la Respuesta" class="span6" @(disableSave ? "disabled" : string.Empty) />
        <button type="button" id="GuardarPregunta" class="btn" onclick="GuardarRespuesta_Click(@Model.Id)" @(disableSave ? "disabled" : string.Empty)>Guardar</button>
    </div>
</div>

