@model IEnumerable<TestsApp.Models.webpages_Roles>

@{
    ViewBag.Title = "Roles del Sistema";
}

<h2>Roles del Sistema</h2>

<p>
    @Html.ActionLink("Nuevo Rol", "Create")
</p>
<table class="table table-striped data-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.RoleId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.RoleId })
            </td>
        </tr>
    }

</table>
